*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.container {
    width: 1000px;
    height: 800px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgray;
}

.anim {
    width: 200px;
    height: 200px;
    border: 5px solid khaki;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Classic Loader */
.anim1 {
    width: 64px;
    height: 64px;
    border: 5px solid magenta;
    border-color: mediumvioletred transparent mediumvioletred transparent;
    border-radius: 50%;
    animation: turn 1.4s linear infinite;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* two circles animation */
.anim2 {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}
.round1, .round2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: chartreuse;
    opacity: .5;
    position: absolute;
    animation: bounce 1.5s ease-in-out infinite;
}
.round2 {
    animation-delay: -1s;
}
@keyframes bounce {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
/* wave */
.anim3 {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anim3 > div {
    background-color: crimson;
    height: 100%;
    width: 6px;
    margin: 0px 2px;
    animation: wave 1.2s ease-in-out infinite;
}
.anim3 .wave2 {
    animation-delay: -1.1s;
}
.anim3 .wave3 {
    animation-delay: -1s;
}
.anim3 .wave4 {
    animation-delay: -.9s;
}
.anim3 .wave5 {
    animation-delay: -.8s;
}
@keyframes wave {
    0%, 40%, 100% {
        transform: scaleY(.4);
    }
    20% {
        transform: scaleY(1);
    }
}
/* ellipsis */
.anim4 > div {
    width: 18px;
    height: 18px;
    background-color: darkcyan;
    border-radius: 50%;
    display: inline-block;
    animation: ellipsis .7s infinite ease-in-out alternate;
}
.anim4 .ellipsis1 {
    animation-delay: -.5s;
}
.anim4 .ellipsis2 {
    animation-delay: -.25s;
}

@keyframes ellipsis {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/* Glitch */
.box5 {
    background: rgb(12, 12, 12);
}
.anim5 {
    display: flex;
}
.glitch {
    color: black;
    font-size: 32px;
    text-shadow: none;
    animation: glitch 1.2s linear infinite;
}
.glitch:nth-child(1) {
    animation-delay:.1s;
}
.glitch:nth-child(2) {
    animation-delay:.2s;
}
.glitch:nth-child(3) {
    animation-delay:.3s;
}
.glitch:nth-child(4) {
    animation-delay:.4s;
}
.glitch:nth-child(5) {
    animation-delay:.5s;
}
.glitch:nth-child(6) {
    animation-delay:.6s;
}
.glitch:nth-child(7) {
    animation-delay:.7s;
}
.glitch:nth-child(8) {
    animation-delay:.8s;
}
.glitch:nth-child(9) {
    animation-delay:.9s;
}
.glitch:nth-child(10) {
    animation-delay:1s;
}
@keyframes glitch {
    0% {
        color: black;
        text-shadow: none;
    }
    90% {
        color: black;
        text-shadow: none;
    }
    100% {
        color: lime;
        text-shadow: 0 0 7px lime, 0 0 50px yellow;
    }
}
/* Blur loader */
.blur {
    text-align: center;
    color: red;
    animation: blur 1s infinite ease alternate;
}
@keyframes blur {
    60% {
        opacity: 1;
    }
    100% {
        opacity: .3;
        filter: blur(5px);
        letter-spacing: 3px;
    }
}

/* spinning top circle */
.spinning-circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(45deg, lime, magenta);
    border: 1px solid purple;
    animation: spinning-circle 2s infinite;
}
@keyframes spinning-circle {
    0% {
        animation-timing-function: cubic-bezier(.5, 0, 1, .5);
        transform: rotateY(0deg);
    }
    50% {
        animation-timing-function: cubic-bezier(0, .5, .5, 1);
        transform: rotateY(1800deg);
    }
    100% {
        animation-timing-function: cubic-bezier(0, .5, .5, 1);
        transform: rotateY(3600deg);
    }
}
/* trio rings loader */
.anim8 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rings-loader {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: Yellow;
    animation: trio-rings 3s linear infinite ;
}
.rings-loader::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: orange;
    animation: trio-rings 2s linear infinite ;
}
.rings-loader::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: orangered;
    animation: trio-rings 1.5s linear infinite;
}
@keyframes trio-rings {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* bouncing loading */
.anim9 {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouncing {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: greenyellow;
    animation: bouncing .6s infinite alternate;
}
.bouncing:nth-child(1) {
    animation-delay: .2s;
}
.bouncing:nth-child(2) {
    animation-delay: .4s;
}
.bouncing:nth-child(3) {
    animation-delay: .6s;
}
@keyframes bouncing {
    100% {
        transform: translateY(-30px);
    }
}
/* spinner loader */


/*  */


/*  */