*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.container {
    width: 1000px;
    height: 800px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgray;
}