*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}